address {
  font-style: normal;
  margin-bottom: 1rem;
}

address span {
  margin: 0 .4rem;
}

footer {
  background-color: #182335;
  color: rgba(255, 255, 255, 0.7);
  padding: 1.9em 0;
  text-align: center;
  width: 100%;
}