address {
  font-style: normal;
  margin-bottom: 16px;
}

address span {
  margin: 0 6px;
}

footer {
  background-color: #182335;
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
  text-align: center;
}

.icons-container i {
  margin: 0 8px;
}