address {
  font-style: normal;
  margin-bottom: 1rem;
}

address span {
  margin: 0 .4rem;
}

footer {
  background-color: #182335;
  color: rgba(255, 255, 255, 0.7);
  padding: 4;
  width: 100%;
  margin: 0 auto;
}