/* header {
  background-color: darkred;
} */

nav {
  background-color: #182335;
  display: block;
  margin-top: 0;
  position: fixed;
  width: 100%;
  color: white;
}

.logo-container {
  width: 10rem;
  margin-left: 3rem;
}

.logo-container img {
  height: 3rem;
  margin-top: 0.3rem;
  padding: .1em;
  align-items: center;
  border: .2rem solid darkred;
}

.company-name {
  display: flex;
  align-items: center;
   margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  padding-top: .5em;
}

h1 {
  font-size: 2rem;
  /* text-shadow: .125rem .125rem #0f1f3b; */
}

.page-arrows {
  align-items: center;
  display: flex;
  font-weight: bold;
}

.page-arrows img {
  height: 1.5rem;
}

.navBar {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;  /* Other options: space-around, space-evenly */
  align-items: flex-start;
  margin: .25em 0;
  color: seashell;
}

.topBar {
  /* align-items: center; */
  width: 100%;
  display: flex;
  justify-content: space-between;  /* Other options: space-around, space-evenly */
  margin: 0;
  list-style-type: none;
  color: white;
  background-color: darkred;
  a:hover {
    color: #0f1f3b;
  }
}

/* .topBar-center {
  width: 200rem;
} */

.topBar li {
  display: flex;
  align-items: flex-start;
  margin: .5rem;
  margin-right: 1rem;
  list-style-type: none;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  margin-left: 2rem;
  list-style-type: none;
}

.navs {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-right: 3rem;
  margin-top: 1rem;
}

.navs li {
  margin-left: 4rem;
}

.selected {
  color: peru;
}

address {
  font-style: normal;
  margin-bottom: 1rem;
}

address span {
  margin: 0 .4rem;
}

.icons-container i {
  justify-content: end;
  margin: .5rem;
  margin-right: 2rem;
  color: white;
  font-size: 1.5rem;
}

/*  Media Queries  */

/* Smaller font size for smaller devices */
@media (max-width: 1280px) {
  .navBar {
      font-size: .75rem;
      margin: 0;
  }
}

/* Smaller font size for smaller devices */
@media (max-width: 1280px) {
  .navBar h1 {
      font-size: .75rem;
      margin: 1em;
  }
}