
/* Typography */



/* Layout */

main {
  flex: 1;
  background-color: white;
  /* background-image: url('https://plus.unsplash.com/premium_photo-1683121707617-1eb511437906?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  /* background-image: url('https://cdn.vectorstock.com/i/2000v/37/92/abstract-circuit-board-background-digital-vector-47523792.avif'); */
  /* background-image: url('https://cdn.vectorstock.com/i/1000x1000/58/19/abstract-futuristic-circuit-board-and-hi-tech-vector-20575819.webp'); */
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
  margin-top: 6rem;
}  

.page {
  margin: 0 auto;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.topic-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 4rem;
}

.topic-setup {
  width: 50%;
  width: 50%;
  padding: 2em;
  margin: 1rem 0;
  margin-top: 4rem;
}

.topic-setup h2 {
  margin: 1rem;
}

.topic-setup p {
  margin: 1rem;
}

.topic-image {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 1rem 0;
  margin-top: 4rem;
}

.topic-image img {
  max-width: 40rem;
}

.topic-grabber h2 {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.topic-grabber p {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.topic-quote {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
}

.topic-question h2 {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: darkred;
}

.mts-partner-today {
  margin: 1rem 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: lightgrey;
    a:visited {
      color: black;
  }
  a:hover {
    color: darkred;
  }
}  

.mts-partner-today h1 {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #182335;
}

.mts-partner-today h2 {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #182335;
}

.mts-partner-today p {
  margin: 1rem 0;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #182335;
}

.page-rule {
  width: 90%;
  margin: auto;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 4rem;
  width: 20rem;
  min-height: 10rem;
  color: black;
  background: seashell;
  border-radius: 2rem;
  box-shadow: .75rem .5rem .4rem #0f1f3b;
}

.tile-container h3 {
  margin: 0 auto;
  text-align: center;
}

.tile-container p {
  margin: 0 auto;
  text-align: center;
}

.image-container {
  margin-bottom: 1rem;
  margin-top: .3rem;
  opacity: 0.1;
}

/* .image-container img {
  height: 25rem;
} */

.container {
  width:95%;
  max-width: 60rem;
  margin: 0 auto;
}

.email-container {
  margin-bottom: 1rem;
  margin-top: .3rem;
  margin-left: 2rem;
}

.name-field {
  width: 20rem;
  height: 100;
  margin-bottom: 1rem;
  margin-top: .3rem;
  font-size: xx-large;
}

.email-field {
  width: 20rem;
  height: 100;
  margin-bottom: 1rem;
  margin-top: .3rem;
}

/*  Media Queries  */

/* Smaller font size for smaller devices */
@media (max-width: 1280px) {
  .tile-container h3 {
      font-size: .75rem;
      margin: 4rem;
  }
}

/* Smaller font size for smaller devices */
@media (max-width: 1280px) {
  .tile-container p {
      font-size: .6rem;
      margin: 2rem;
  }
}

/* Smaller tile size for smaller devices */
@media (max-width: 1280px) {
  .tile-container {
      width: 12rem;
      margin: .5rem;
  }
}


/* Smaller image size for smaller devices */
@media (max-width: 1280px) {
  .topic-image img {
      width: 20rem;
      margin: .5rem;
  }
}

/* Smaller image size for smaller devices */
@media (max-width: 1280px) {
  .page {
    font-size: .75rem;
    margin: 4rem;
  }
}